.description-form {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.description-form > div > div:nth-child(3) {
  display: flex;
  margin: 1rem;
  justify-content: end;
}

.componente-renderizado {
  display: flex;
  justify-content: center;
}

.voltar-button {
  padding: 1rem 3rem;
  background: transparent;
  color: var(--paleta-dois);
  border: 1px solid var(--paleta-dois);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.avancar-button {
  padding: 1rem 3rem;
  background: var(--paleta-um);
  color: var(--paleta-seis);
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.finalizar-button {
  padding: 1rem 3rem;
  background: var(--paleta-um);
  color: var(--paleta-seis);
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.barra-navegacao-cadastro-acomodacao,
.barra-navegacao-cadastro-acomodacao-end {
  display: flex;
  padding: 2rem;
  background-color: var(--paleta-seis);
  color: var(--paleta-quatro);
  flex-direction: column;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  gap: 1rem;
  border-top: 1px solid var(--paleta-dois);
  z-index: 2;
}

.barra-navegacao-cadastro-acomodacao > div {
  display: flex;
  justify-content: space-between;
}

.barra-navegacao-cadastro-acomodacao-end > div {
  display: flex;
  justify-content: end;
}
