.editor-description-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.description-form > div > div:nth-child(3) {
  display: flex;
  margin: 1rem;
  justify-content: end;
}

.componente-renderizado {
  display: flex;
  justify-content: center;
}

.voltar-button {
  padding: 1rem 3rem;
  background: transparent;
  color: var(--paleta-dois);
  border: 1px solid var(--paleta-dois);
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.avancar-button {
  padding: 1rem 3rem;
  background: var(--paleta-um);
  color: var(--paleta-seis);
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.finalizar-button {
  padding: 1rem 3rem;
  background: var(--paleta-um);
  color: var(--paleta-seis);
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.barra-navegacao-cadastro-acomodacao,
.barra-navegacao-cadastro-acomodacao-end {
  display: flex;
  padding: 2rem;
  background-color: var(--paleta-seis);
  color: var(--paleta-quatro);
  flex-direction: column;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  gap: 1rem;
  border-top: 1px solid var(--paleta-dois);
  z-index: 2;
}

.barra-navegacao-cadastro-acomodacao > div {
  display: flex;
  justify-content: space-between;
}

.barra-navegacao-cadastro-acomodacao-end > div {
  display: flex;
  justify-content: end;
}

.btn-editor-deletar,
.btn-editor-acomodacao {
  margin: 0 3rem;
}

.btn-editor-deletar > div,
.btn-editor-acomodacao > div {
  display: flex;
  margin: 2rem 0 1rem 0;
  align-items: flex-end;
  gap: 0.5rem;
}

.btn-editor-acomodacao > button {
  background: transparent;
  border: 1px solid var(--paleta-dois);
  color: var(--paleta-dois);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

.btn-editor-deletar > button {
  background: transparent;
  border: 1px solid var(--paleta-oito);
  color: var(--paleta-oito);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
}

.btn-editor-acomodacao-end {
  display: flex;
  gap: 1rem;
  margin: 3rem;
}

.btn-editor-acomodacao-end button {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
}

.btn-editor-acomodacao-end button:nth-child(1) {
  border: 1px solid var(--paleta-dois);
  color: var(--paleta-dois);
  background: transparent;
}

.btn-editor-acomodacao-end button:nth-child(2) {
  color: var(--paleta-seis);
  background: var(--paleta-um);
}
