.pagina-favoritos {
  margin: 2rem;
}

.pagina-favoritos > div {
  display: flex;
  justify-content: center;
  gap: 3rem;
} 


.pagina-favoritos > h2 {
  color: var(--paleta-um);
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem 0;
}
