#filtros {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 1rem 0;
}

#area-anuncio {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  margin: 3rem;
}
