.pagina-hospedar {
  padding: 3rem;
}

.menu-hospedar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.menu-hospedar button {
  display: flex;
  align-items: center;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  border: none;
  background: var(--paleta-um);
  color: var(--paleta-seis);
}

.menu-hospedar button > span {
  display: flex;
  font-size: 1.5rem;
}

.menu-hospedar h2 {
  font-weight: bold;
  font-size: 1.5rem;
  color: var(--paleta-um);
}

.pagina-hospedar > .hospedar-texto-alternativo {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.pagina-hospedar > .hospedar-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.pagina-hospedar > div > p {
  color: var(--paleta-quatro);
  width: 400px;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
}
