.pagina-reservas > h2 {
  margin: 2rem;
  color: var(--paleta-um);
  font-weight: bold;
}

.pagina-reservas > .reservas-texto-alternativo {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.pagina-reservas > div > p {
  color: var(--paleta-quatro);
  width: 400px;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
}
