.step-seven {
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: start;
  margin: 3rem 0;
}

.step-seven h2 {
  font-size: 1.6rem;
  margin: 1rem 0;
}

.step-seven-title {
  padding: 0.5rem 0;
}

.step-seven-title,
.step-seven-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
}

.step-seven-title input,
.step-seven-description textarea {
  background-color: transparent;
  border-radius: 8px;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 500px;
}

.step-seven-description {
  padding: 0.5rem 0;
}

.step-seven-description textarea {
  padding-bottom: 10rem;
  height: 200px;
}

.step-seven > div:nth-child(7) {
  padding: 1rem 0;
}
.step-seven > div > select {
  padding: 0.5rem;
  border-radius: 8px;
  width: auto;
}
