.userform-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: start;
}

.userform-box > h1 {
  font-size: 2.4rem;
  font-weight: 400;
  text-align: start;
  color: var(--paleta-dois);
}

.btn-form {
  display: flex;
  flex-direction: column;
}

.btn-form > h2 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

.btn-organization {
  display: flex;
  gap: 2rem;
}

.userform-box-input {
  display: flex;
  flex-direction: column;
  width: 80%;
  font-size: 1.5rem;
}

.userform-inputs {
  display: flex;
  justify-content: space-between;
  background: var(--paleta-seis);
  box-shadow: 0px 8px 20px #00000040;
  margin: 1rem 0;
  border-radius: 8px;
  padding: 1rem;
}

.userform-inputs label {
  color: var(--paleta-dois);
}

.cont-form {
  display: flex;
  border: 1px solid var(--paleta-dois);
  border-radius: 8px;
  padding: 0.3rem;
}

.cont-form > span,
.cont-form > p {
  color: var(--paleta-dois);
}

.cont-form input {
  cursor: pointer;
  outline: none;
  text-decoration: none;
  color: var(--paleta-dois);
  font-size: 1.5rem;
  border: none;
  text-align: center;
  background: transparent;
}

.cont-form span,
.cont-form span > svg {
  display: flex;
  align-items: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  width: 2rem;
  font-weight: 300;
}

.userform-line {
  background-color: var(--paleta-dois);
  width: 100%;
  height: 1px;
  margin: 1rem 0;
}

.userform-line:nth-last-child(1) {
  display: none;
}
