.card-cancelar {
  margin: 2rem;
}

.card-cancelar > h2 {
  font-weight: bold;
  color: var(--paleta-sete);
}

.card-cancelar > .card-cancelar-details {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem 0;
  padding: 1rem;
}

.card-cancelar > .card-cancelar > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card-cancelar .image-container {
  flex: 1;
  height: auto;
}

.card-cancelar .image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-cancelar > .details-container {
  flex: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-cancelar > .details-container > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.card-cancelar > .details-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.card-cancelar > .details-container > div:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.card-cancelar > .details-container > div:nth-child(3) > div > span {
  font-size: 1.5rem;
}

.card-cancelar > .title {
  margin: 0;
  color: var(--paleta-sete);
  font-size: 22px;
  font-weight: bold;
}

.card-cancelar > .host {
  margin-top: 8px;
  font-size: 16px;
  color: #555;
}

.card-cancelar > .info {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-size: 14px;
  color: #777;
}

.card-cancelar > .icon {
  color: #555;
}

.card-cancelar > .action-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  width: 400px;
}

.card-cancelar > .dates-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.card-cancelar > .date-item {
  text-align: center;
  border: 1px solid var(--paleta-quatro);
  padding: 1rem;
  border-radius: 10px;
}

.card-cancelar > .date-item span {
  font-size: 1rem;
  color: var(--paleta-quatro);
}

.card-cancelar > .date-item p {
  color: var(--paleta-quatro);
}

.card-cancelar .button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.card-cancelar .button-group > a {
  flex: 1;
}

.card-cancelar .button-group > a > .primary-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--paleta-um);
  color: var(--paleta-seis);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

.primary-button > svg,
.card-cancelar > .secondary-button > svg {
  font-size: 1.5rem;
}

.card-cancelar > .secondary-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--paleta-seis);
  color: var(--paleta-dois);
  border: 1px solid var(--paleta-dois);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.card-cancelar > .secondary-button:hover {
  background-color: var(--paleta-dois);
  color: var(--paleta-seis);
  transition: 0.3s;
}

.card-cancelar .card-cancelar-reservas-line {
  border-bottom: 1px solid var(--paleta-quatro);
  margin: 1rem 0;
}

.card-cancelar > .card-cancelar-menu {
  display: flex;
  color: var(--paleta-dois);
  gap: 1rem;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin: 2rem 0;
}

.card-cancelar > .card-cancelar-menu svg {
  color: var(--paleta-dois);
}

.card-cancelar > .card-cancelar-menu h1 {
  color: var(--paleta-um);
}
