.card {
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem;
  padding: 1rem;
}

.card > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.card .image-container {
  max-width: 35vw;
  flex: 1;
}

.card .image {
  width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.details-container {
  flex: 2;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-container > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.details-container > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.details-container > div:nth-child(3) > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
}

.details-container > div:nth-child(3) > div > span {
  font-size: 1.5rem;
}

.title {
  margin: 0;
  color: var(--paleta-sete);
  font-size: 22px;
  font-weight: bold;
}

.host {
  margin-top: 8px;
  font-size: 16px;
  color: #555;
}

.info {
  display: flex;
  align-items: center;
  margin: 4px 0;
  font-size: 14px;
  color: #777;
}

.icon {
  color: #555;
}

.action-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  flex: 1;
}

.dates-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.date-item {
  text-align: center;
  border: 1px solid var(--paleta-quatro);
  padding: 1rem;
  border-radius: 10px;
}

.date-item span {
  font-size: 1rem;
  color: var(--paleta-quatro);
}

.date-item p {
  color: var(--paleta-quatro);
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.primary-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--paleta-um);
  color: var(--paleta-seis);
  border: none;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.primary-button > svg,
.secondary-button > svg {
  font-size: 1.5rem;
}

.secondary-button {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: var(--paleta-seis);
  color: var(--paleta-dois);
  border: 1px solid var(--paleta-dois);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.secondary-button:hover {
  background-color: var(--paleta-dois);
  color: var(--paleta-seis);
  transition: 0.3s;
}

.card-reservas-line {
  border-bottom: 1px solid var(--paleta-quatro);
  margin: 1rem 0;
}
