.btn-form-custom {
  cursor: pointer;
  border: 1px solid var(--paleta-dois);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  transition: background-color 0.3s, color 0.3s;
}

.btn-form-custom > span {
  color: var(--paleta-dois);
  width: 100px;
  user-select: none;
  display: flex;
  justify-content: center;
}

.btn-form-custom > span > svg {
  font-size: 2.5rem;
  color: var(--paleta-dois);
}

/* Estilos quando o botão estiver ativo */
.btn-form-custom.active {
  background-color: var(--paleta-dois);
  color: var(--paleta-tres);
}

.btn-form-custom.active > span,
.btn-form-custom.active > span > svg {
  color: var(--paleta-tres);
}
