.footer {
  display: flex;
  padding: 1rem;
  background-color: var(--paleta-seis);
  color: var(--paleta-quatro);
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  gap: 1rem;
  box-shadow: 0px -3px 20px 0px #3d3d3d20;
  z-index: 1;
}

.footer > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.footer > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

.footer > div > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.logo img {
  width: 120px;
  height: auto;
  margin-bottom: 15px;
}

.nav {
  display: flex;
  gap: 25px;
  margin-bottom: 15px;
  align-items: center;
}

.link {
  color: var(--paleta-sete);
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.social > a > .icon {
  font-size: 36px;
  color: var(--paleta-sete);
  cursor: pointer;
}

.social > .icon:nth-child(1) {
  right: 50px;
}

.social > .icon:hover {
  color: var(--paleta-dois);
  transition: 0.3s;
}

.bottom {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  color: var(--paleta-quatro);
}

.bottom p {
  margin: 0;
  font-size: 14px;
}

.bottom a {
  color: var(--paleta-quatro);
  text-decoration: none;
}

.bottom a:hover {
  text-decoration: underline;
}

.no-fixed {
  position: sticky;
}
